extends ../layout

block content
  .row.justify-content-sm-center.h-100
    .col-xxl-3.col-xl-5.col-lg-5.col-md-7.col-sm-9
      .text-center
        img(src='https://www.svgrepo.com/show/430079/security-secure-protection-30.svg' alt='logo' width='100')
      .card.shadow-lg
        .card-body.p-5
          h1.fs-4.card-title.fw-bold.mb-4 Login
          form.needs-validation(method="post" action="/auth/signin" novalidate='' autocomplete='off')
            .mb-3
              label.mb-2.text-muted(for='email') E-Mail Address
              input#email.form-control(type='email' name='email' value='' required='' autofocus='')
              .invalid-feedback
                | Email is invalid
            .mb-3
              .mb-2.w-100
                label.text-muted(for='password') Password
                //- a.float-end(href='forgot.html')
                //-   | Forgot Password?
              input#password.form-control(type='password' name='password' required='')
              .invalid-feedback
                | Password is required
            .d-flex.align-items-center
              .form-check
                input#remember.form-check-input(type='checkbox' name='remember')
                label.form-check-label(for='remember') Remember Me
              button.btn.btn-primary.ms-auto(type='submit')
                | Login
        .card-footer.py-3.border-0
          .text-center
            if errors
              span(class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill")= errors
              br
            | Don&apos;t have an account? 
            a.text-dark(href='/auth/signup') Create One
        if verified === 'true'
            .alert.alert-success Email has been successfully verified!

        if verified === 'false'
            .alert.alert-danger There was an issue verifying your email. Please try again.

