extends ../layout

block content
  main(class="form-signin text-center")
    form(data-bitwarden-watching="1" method="post" action="/auth/signin")
      h1(class="h3 mb-3 fw-normal") Please sign in
      div(class="form-floating")
        input(type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com")
        label(for="floatingInput") Email address
      div(class="form-floating")
        input(type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password")
        label(for="floatingPassword") Password
      input(class="w-100 btn btn-lg btn-primary" type="submit" value="Sign in")
      if errors
          span(class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill")= errors