extends ../layout

block content
  .container
    .row.justify-content-center
      .col-md-6
        .card
          .card-header
            h3 Reset Password
          .card-body
            form(action=`/auth/reset-password/${token}` method='post')
              .form-group
                label(for='newPassword') New Password
                input#newPassword.form-control(type='password' name='newPassword' required)
              .form-group
                label(for='confirmPassword') Confirm Password
                input#confirmPassword.form-control(type='password' name='confirmPassword' required)
              button.btn.btn-primary(type='submit') Reset Password
