mixin deleteConfirmationModal(project)
    .modal.fade(id=`deleteConfirmationModal-${project._id}`, tabindex="-1", aria-labelledby=`deleteConfirmationModal-${project._id}`, aria-hidden="true")
        .modal-dialog
            .modal-content
                form(action=`/admin/project/${project._id}/delete` method="post")
                    .modal-header
                        h5#deleteProjectModalLabel.modal-title Confirm Deletion
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        p Are you sure you want to delete the <b>#{project.reference}</b> project? 
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                        form#deleteProjectForm(method="post" action="#" style="display: inline;")
                            button.btn.btn-danger(type="submit") Delete

