mixin newProjectModal(project)
    .modal.fade(id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                form(action="/admin/projects/create" method="post")
                    .modal-header
                        h5#newProjectModalLabel.modal-title New Project
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        .mb-3
                            label(for="reference") Reference
                            input#reference.form-control(type="text" name="reference" required)
                        .mb-3
                            label(for="title") Title
                            input#title.form-control(type="text" name="title" required)
                        .mb-3
                            label(for="type") Type
                            select#type.form-control(name="type" required)
                                option(value="WAPT") Web Application Penetration Test (WAPT)
                                option(value="NVA") Network Vulnerability Assessment (NVA)
                                option(value="BBP") Bug Bounty Program (BBP)
                        .mb-3
                            label(for="status") Status
                            select#status.form-control(name="status" required)
                                option(value="Open") Open
                                option(value="Closed") Closed
                                option(value="Planned") Planned
                                option(value="Cancelled") Cancelled
                                option(value="On Hold") On Hold
                                option(value="In Progress") In Progress
                                option(value="Completed") Completed
                        .mb-3
                            label(for="description") Description
                            textarea#description.form-control(name="description" required)
                        .mb-3
                            label(for="conductedBy") Assessor
                            input#conductedBy.form-control(type="text" name="conductedBy")
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                        button.btn.btn-primary(type="submit") Create Project