extends ../layout.pug
include mixins/users/users-table
include mixins/users/edit-user-modal
include mixins/users/user-details-modal
include mixins/users/create-user-modal
include mixins/users/user-delete-confirmation-modal


block content
    h1 Admin - Users
    script(src="/javascripts/usersDatatable.js")

    button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#createUserModal") Create New User

    +usersTable(users)
    +createUserModal

    //- modals for each user
    each user in users
        +userDetailsModal(user)
        +editUserModal(user)
        +userdeleteConfirmationModal(user)

    ul#customContextMenu.hidden
        li
            i(class="fa-solid fa-eye")
            |  View User
        li
            i(class="fa-solid fa-edit")
            |  Edit User
        li
            i(class="fa-solid fa-trash")
            |  Delete User