footer(class="footer mt-auto bg-body-tertiary py-2")
    div(class="d-flex gap-2 justify-content-center")
        if isAuthenticated
            span(class="text-body-secondary d-flex align-items-center" id="clock")
            div(class="border-end me-2" style="height: 30px; width: 2px;")
            span.badge.d-flex.align-items-center.p-1.pe-2.text-success-emphasis.bg-success-subtle.border.border-success-subtle.rounded-pill
                img.rounded-circle.me-1(width="24" height="24" src=`${currentUser.avatar}` alt="")
                | Logged in as #{currentUser.username}
                span(class="sessionCountdown" id="sessionCountdown" style="color:grey;")
            script(src="/javascripts/sessionCountdown.js")
        else
            span(class="text-body-secondary clock")
        script(src="/javascripts/clock.js")
        
