extends ../layout.pug
include mixins/new-finding-modal
include mixins/findings-table
include mixins/edit-finding-modal
include mixins/import-export-features
include mixins/delete-confirmation-modal
include mixins/details-findings-modal
include mixins/share-finding-modal

block content
    script. 
        window.slaValues = !{JSON.stringify(slaSettings)};
        window.findings = !{JSON.stringify(findings)};
    script(src="/javascripts/calculateDueDate.js")
    script(src="/javascripts/findingsDatatable.js")
    script(src="/javascripts/validateFindingRef.js")
    
    h1 Findings

    +import-export-features

    //- New Finding Modal
    +newFindingModal(finding, products)

    +findingsTable(findings)
    
    each finding in findings
        +detailsModal(finding)
        +editFindingModal(finding)
        +deleteFindingConfirmationModal(finding)
        +shareModal(finding)

    ul#customContextMenu.hidden
        li
            i(class="fa-solid fa-eye")
            |  View Finding
        li
            i(class="fa-solid fa-edit")
            |  Edit Finding
        li
            i(class="fa-solid fa-share")
            |  Share Finding
        li 
            i(class="fa-solid fa-check")
            |  Mark as Remediated
        li
            i(class="fa-solid fa-clipboard-check")
            |  Mark as Accepted
        li
            i(class="fa-solid fa-ban")
            |  Mark as Declined
        li 
            i(class="fa-solid fa-clipboard-list")
            |  Report on Finding
        li
            i(class="fa-solid fa-trash")
            |  Delete Finding
