extends ../layout.pug
include mixins/new-finding-modal
include mixins/findings-table
include mixins/edit-finding-modal
include mixins/import-export-features
include mixins/delete-confirmation-modal
include mixins/details-findings-modal

block content
    script. 
        window.slaValues = !{JSON.stringify(slaSettings)};
    script(src="/javascripts/calculateDueDate.js")
    script(src="/javascripts/findingsDatatable.js")
    
    h1 Findings

    +import-export-features

    //- New Finding Modal
    +newFindingModal(finding)

    +findingsTable(findings)
    
    each finding in findings
        +editFindingModal(finding)
        +deleteFindingConfirmationModal(finding)

    ul#customContextMenu.hidden
        li View Details
        li Edit Finding
        li Delete Finding
