extends ../layout.pug
include mixins/new-finding-modal
include mixins/findings-table
include mixins/edit-finding-modal
include mixins/delete-confirmation-modal
include mixins/import-export-features

block content
    h1 Findings

    +import-export-features

    //- New Finding Modal
    +newFindingModal(finding)

    +findingsTable(findings)
    +deleteFindingConfirmationModal

    each finding in findings
        +editFindingModal(finding)

    script.
        $(document).ready(function() {
            $('table').DataTable({
                select:true, stateSave: true, responsive: true, dom: 'Bf<"clear">rtipl', buttons: [ 'copy', 'colvis', 
                {
                    extend: 'pdfHtml5',
                    text: 'Vue to PDF',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    download: 'open',
                    exportOptions: {
                        columns: ':visible:not(:last-child)',
                        modifier: {
                            search: 'applied',
                            order: 'applied',
                    }
                }
            } ],
                columnDefs: [{
                    targets: -1,
                    orderable: false
                }], 
                colReorder: true,
                columnDefs: [{
                    targets: [3, 9, 10, 12],
                    visible: false
                }],
            });
        });