extends ../layout.pug
include mixins/severity-pie-chart
include mixins/status-pie-chart
include mixins/project-pie-chart
include mixins/origin-pie-chart
include mixins/created-date-chart

block content
    h1 Dashboard
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js")
    script(src="/javascripts/dashboardCardsMouseOver.js")
    div(class="row cards-row flex-nowrap")
        div(class="card-container")
            div(class="card text-bg-primary")
                div(class="card-header")|All Findings
                div(class="card-body")
                    h1 #{numberOfFindings}
        div(class="card-container")
            div(class="card text-bg-warning")
                div(class="card-header")|Open Findings
                div(class="card-body")
                    h1 #{numberOfOpenFindings}
        div(class="card-container")
            div(class="card text-bg-danger")
                div(class="card-header")|Overdue Findings
                div(id="overdueCardBody" class="card-body")
                    h1(class="overdue-number") #{numberOfFindingsOverdue}
                    i(class="fa fa-download overdue-icon fa-2xl" style="display: none;")
        div(class="card-container")
            div(class="card text-bg-success")
                div(class="card-header")|Closed Findings
                div(class="card-body")
                    h1 #{numberOfClosedFindings}
    div(class="row charts-row flex-nowrap")
        div(class="chart-container")
            +severityPieChart(chart1)
        div(class="chart-container")
            +statusPieChart(chart2)
        div(class="chart-container")
            +projectPieChart(chart3)
        div(class="chart-container")
            +originPieChart(chart4)
    hr
    div(class="row charts-row flex-nowrap")
        div(class="chart-container")
            +createdDateChart(chart5)
    script.
        function generateOverdueFindingsReport() {
            window.location.href = '/dashboard/generate-overdue-report';
        }