extends ../layout.pug
include mixins/severity-pie-chart
include mixins/status-pie-chart
include mixins/project-pie-chart
include mixins/origin-pie-chart
include mixins/created-date-chart

block content
    h1 Dashboard
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    div(class="charts-row")
        div(class="chart-container")
            +severityPieChart(chart1)
        div(class="chart-container")
            +statusPieChart(chart2)
        div(class="chart-container")
            +projectPieChart(chart3)
        div(class="chart-container")
            +originPieChart(chart4)
    div(class="charts-row")
        div(class="chart-container")
            +createdDateChart(chart5)