mixin severityPieChart(chart1)
    canvas#chart1
        script.
            const severityData = {
                labels: ['Critical', 'High', 'Medium', 'Low', 'Info'],
                datasets: [{
                label: 'Findings:',
                data: !{JSON.stringify(sortedData)},
                backgroundColor: ['darkred', 'red', 'orange', 'green', 'blue'],
                borderColor: ['darkred', 'red', 'orange', 'green', 'blue'],
                borderWidth: 1
                }]
            };
            const ctxSeverity = document.getElementById('chart1').getContext('2d');
            const myPieChart1 = new Chart(ctxSeverity, {
                type: 'pie',
                data: severityData,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Findings by Severity'
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                        },
                    },
                }
            });