:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container-fluid {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  background: #ddd;
  padding: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content {
  grid-area: content;
  padding: 0.5rem;
  background-color: #f8f9fa;
}

.profile-container {
  width: 30%;
  max-width: 300px;
  color: #657786;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.img-fluid {
  max-height: 100px;
}

.pointer-cursor {
  cursor: pointer;
}

.btn {
  margin: 2px;
}

thead {
  background: #ddd;
}

footer {
  grid-area: footer;
  padding: 0.5rem;
  background: darkgrey;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.charts-row {
  display: flex;
  justify-content: space-between; /* distributes the space evenly between the charts */
  width: 100%;
}

.chart-container {
  flex: 1; /* each chart container will take up an equal amount of space */
  height: 400px; /* or whatever height you prefer */
  padding: 0 10px; /* optional: adds some space between the charts */
}

canvas {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background: white;
}


