:root {
  font-size: 62.5%;
}

main > .container-fluid {
  padding: 60px 15px 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.text-center {
  text-align: center !important;
}

.content {
  background-color: #f5f8fa;
}

.img-fluid {
  max-height: 100px;
}

.pointer-cursor {
  cursor: pointer;
}

.btn {
  margin: 2px;
}

thead {
  background: #ddd;
}

.footer {
  text-align: center;
}

.charts-row {
  display: flex;
  justify-content: space-between; /* distributes the space evenly between the charts */
  width: 100%;
}

.chart-container {
  flex: 1; /* each chart container will take up an equal amount of space */
  height: 400px; /* or whatever height you prefer */
  padding: 0 10px; /* optional: adds some space between the charts */
}

canvas {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background: white;
}

.border-card {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background: white;
  padding: 15px;
  margin: 10px;
}

.flat-link {
  text-decoration: none;
  color: inherit;
}

.bg-darkred {
  background-color: darkred !important;
}

.bg-light-red {
  background-color: #ffcccc; /* Adjust the color as needed */
}

table.dataTable {
  border-collapse: collapse !important;
  width: 100% !important;
}

.hidden {
  display: none;
}
