:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container-fluid {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  background: #ddd;
  padding: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content {
  grid-area: content;
  padding: 0.5rem;
}

.profile-container {
  width: 30%;
  max-width: 300px;
  color: #657786;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.img-fluid {
  max-height: 100px;
}

.b {
  border: 1px solid red;
}

.b1 {
  border: 1px solid green;
}

.pointer-cursor {
  cursor: pointer;
}

.btn {
  margin: 2px;
}

thead {
  background: #ddd;
}

footer {
  grid-area: footer;
  padding: 0.5rem;
  background: darkgrey;
  font-size: 1rem;
  text-align: center;
  color: white;
}