mixin change-password-modal
    //- Modal
    div.modal.fade(id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModalLabel" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                form(action="/me/password/update" method="post")
                    div.modal-header
                        h5.modal-title(id="updatePasswordModalLabel") Change Password
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    div.modal-body
                        div.mb-3
                            label.form-label(for="currentPassword") Current Password
                            input.form-control(type="password" id="currentPassword" name="currentPassword" required)
                        div.mb-3
                            label.form-label(for="newPassword") New Password
                            input.form-control(type="password" id="newPassword" name="newPassword" required)
                        div.mb-3
                            label.form-label(for="confirmPassword") Confirm New Password
                            input.form-control(type="password" id="confirmPassword" name="confirmPassword" required)
                    div.modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                        button.btn.btn-warning(type="submit") Change Password
