mixin deleteConfirmationModal(product)
    .modal.fade(id=`deleteConfirmationModal-${product._id}`, tabindex="-1", aria-labelledby=`deleteConfirmationModal-${product._id}`, aria-hidden="true")
        .modal-dialog
            .modal-content
                form(action=`/admin/products/${product._id}/delete` method="post")
                    .modal-header
                        h5#deleteProductModalLabel.modal-title Confirm Deletion
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        p Are you sure you want to delete the <b>#{product.reference}</b> product? 
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                        form#deleteProductForm(method="post" action="#" style="display: inline;")
                            button.btn.btn-danger(type="submit") Delete

