extends ../layout

block content
  h1 User Profile
  script(src="/javascripts/profile.js")
  div(class="profile-container bg-white me-3 d-flex flex-column")
    //- form( id="form-container" class="d-flex p-3 flex-row justify-content-center align-items-center" action="/users/update/image" method="post" enctype="multipart/form-data" )
    //-   input(type="file" name="avatar" class="d-none" id="input-avatar")
    //-   img(src=user.avatar class="img-fluid" id="image-profile")
    div(class="d-flex flex-row justify-content-center align-items-center")
      p= `${ user.username } (${ user.local.email })`