extends ../layout

include mixins/user-profile-page
include mixins/2fa-modals

block content
  if user.firstname 
    h1 #{ user.firstname }'s Profile
  else 
    h1 #{ user.username }'s Profile

  script(src="/javascripts/profile.js")
  
  +user-profile-page
        
  +2fa-modals