extends ../layout

include mixins/user-profile-form
include mixins/2fa-modals

block content
  h1 User Profile

  script(src="/javascripts/profile.js")
  
  if user.firstname 
    h3 Hi, #{ user.firstname }!
  else
    h3 Hi, #{ user.username }!
  
  +user-profile-form
        
  +2fa-modals