//- extends ../layout

//- block content
//-   h1 Setup Two-Factor Authentication
//-   img(src=dataURL alt="QR Code")
//-   p Scan the QR code or enter the secret manually: #{secret}
//-   form(action="/users/verify-2fa" method="post")
//-     input(type="hidden" name="secret" value=secret)
//-     div(class="form-group")
//-       label Enter OTP
//-       input(type="text" name="otp" class="form-control")
//-     button(type="submit" class="btn btn-primary") Verify
