mixin deleteFindingConfirmationModal
    #deleteFindingConfirmationModal.modal.fade(tabindex="-1" aria-labelledby="deleteFindingModalLabel" aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h5#deleteFindingModalLabel.modal-title Confirm Deletion
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                    p Are you sure you want to delete this finding?
                .modal-footer
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                    form#deleteFindingForm(method="post" action="#" style="display: inline;")
                        button.btn.btn-danger(type="submit") Delete
    script.
        const deleteFindingModal = document.getElementById('deleteFindingConfirmationModal');
        deleteFindingModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const findingId = button.getAttribute('data-finding-id');
            const deleteForm = document.getElementById('deleteFindingForm');
            deleteForm.action = `/findings/${findingId}/delete`;
        });
