mixin newFindingModal(finding)
    .modal.fade(id="newFindingModal" tabindex="-1" aria-labelledby="newFindingModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                form(action="/findings/new-finding" method="post")
                    .modal-header
                        h5#newFindingModalLabel.modal-title New Finding
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        .row
                            .col-md-6
                                .form-group
                                    label(for="reference") Reference
                                    input#reference.form-control(type="text" name="reference" required)
                                .form-group
                                    label(for="assignee") Assignee
                                    input#assignee.form-control(type="text" name="assignee")
                                .form-group
                                    label(for="origin") Origin
                                    input#origin.form-control(type="text" name="origin")
                                .form-group
                                    label(for="title") Title
                                    input#title.form-control(type="text" name="title" required)
                                .form-group
                                    .form-group
                                    label(for="type") Type
                                    select#type.form-control(name="type")
                                        option(value="Configuration Issues") Configuration Issues
                                        option(value="Authentication & Authorization Issues") Authentication & Authorization Issues
                                        option(value="Injection Flaws") Injection Flaws
                                        option(value="Sensitive Data Exposure") Sensitive Data Exposure
                                        option(value="Cross-Site Scripting (XSS)") Cross-Site Scripting (XSS)
                                        option(value="Cross-Site Request Forgery (CSRF)") Cross-Site Request Forgery (CSRF)
                                        option(value="Unvalidated Redirects and Forwards") Unvalidated Redirects and Forwards
                                        option(value="Session Management Issues") Session Management Issues
                                        option(value="Insecure Deserialization") Insecure Deserialization
                                        option(value="Server Vulnerabilities") Server Vulnerabilities
                                        option(value="Third-party Component Vulnerabilities") Third-party Component Vulnerabilities
                                        option(value="Business Logic Flaws") Business Logic Flaws
                                .form-group
                                    label(for="description") Description
                                    textarea#description.form-control(name="description" required)
                                .form-group
                                    label(for="reportedBy") Reported By
                                    input#reportedBy.form-control(type="text" name="reportedBy")
                            .col-md-6
                                .form-group
                                    label(for="project") Project
                                    select#project.form-control(name="project")
                                        each project in projects
                                            option(value=project.reference)= project.reference
                                .form-group
                                    label(for="status") Status
                                    select#status.form-control(name="status")
                                        option(value="In Remediation") In Remediation
                                        option(value="Remediated") Remediated
                                        option(value="Accepted") Accepted
                                        option(value="Declined") Declined
                                .form-group
                                    label(for="severity") Severity
                                    select#severity.form-control(name="severity")
                                        option(value="Critical") Critical
                                        option(value="High") High
                                        option(value="Medium") Medium
                                        option(value="Low") Low
                                        option(value="Info") Info
                                .form-group
                                    label(for="cve") CVE
                                    input#cve.form-control(type="text" name="cve" value="None")
                                .form-group
                                    label(for="cvss") CVSS
                                    input#cvss.form-control(type="text" name="cvss")
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                        button.btn.btn-primary(type="submit") Create Finding